# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/src/util/Secret.js
.env
NOTES.md

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.gitsecret/keys/random_seed
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/Volumes/SSHD/SSD_Files/Documents/Documents_Raka/Code_Git/cc-jamming/src/util/Secret.js
/d/Code/JS/cc-jamming/NOTES.md
/d/Code/JS/cc-jamming/src/util/Secret.js
/NOTES.md
